import * as React from "react";

interface I{{UPPER_MODULE_NAME}}Props{

}

export default class {{UPPER_MODULE_NAME}} extends React.PureComponent<I{{UPPER_MODULE_NAME}}Props>{
    render(): React.ReactElement<I{{UPPER_MODULE_NAME}}Props> {
        return(
            <div>
                {{UPPER_MODULE_NAME}}
            </div>
        )
    }
}